<%= form_for @post, :html => { :multipart => true } do |f| %>
 
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <strong>Goal</strong><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <strong>Story</strong> <br>
    <%= f.text_area :body %>
  </p>
  <p>
    <strong>Image that describes your end goal</strong><br><br>
    <%= f.file_field :image %>
  </p>
 <br>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>