<div class="panel panel-default">
	<div class= "panel-body">
		<div class="row">
			<div class="col-md-4">
			<%= image_tag @post.image.url(:medium) %>
				<div class="table-responsive">
				<table class="table">
				<tbody>
					<tr>
						<td><strong>Title:</strong></td>
						<td><%= @post.title %></td>
					</tr>
					<tr>
						<td><strong>Body:</strong></td>
						<td><%= @post.body %></td>
					</tr>
				</tbody>
		   </table>
		   <%= link_to 'Comment / Encourage / Support', new_post_comment_path(@post) %>
       </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
      	<h1 class="post_title"> <%= @post.title %></h1>

      	<% if @comments.blank? %>
      	<h3> No comments yet </h3>
      	<%= link_to 'Write Comment', new_post_comment_path(@post), class: "btn btn-danger" %>
      	<% else %>
      		<% @comments.each do |comment| %>
      			<div class="comments">
      				<p><%= comment.body %> </p>
      				</div>
      			<% end %>	
      			<% end %>	

      </div>
		</div>
	</div>
</div> 

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>